# COVID Vaccinations

* **Data:** `StockX-Data-Contest-2019-3.xlsx`
* **Description:** You can buy shoes and resell them later online for more money. Wild world, right? This data is from [StockX](https://stockx.com/)
* **Source:** https://stockx.com/news/the-2019-data-contest/
* **Columns of interest:**
    * `Order Date` is the resale order was completed
    * `Brand` is the name of the company producing the shoe
    * `Sneaker Name` is the name of the shoe itself
    * `Sale Price` is how much the shoe went for at resale
    * `Retail Price` is how much the shoe originally cost
    * `Release Date` is when the shoe was originally released
    * `Shoe Size` is the size of the shoe being sold
    * `Buyer Region` is where the shoe's buyer is located

This dataset is topical due to the passing of [Virgil Abloh, founder of Off-White](https://www.newyorker.com/culture/postscript/the-remarkable-life-of-virgil-abloh).

## Read in your data

This Excel file has multiple sheets in it! You'll need to specify the sheet when you read it in with `sheet_name='Raw Data'`.

In [1]:
import pandas as pd 
import numpy as np

/Users/susanmerriam/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_excel("StockX-Data-Contest-2019-3.xlsx", sheet_name='Raw Data')

In [5]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
df.head(3)

,order_date,brand,sneaker_name,sale_price,retail_price,release_date,shoe_size,buyer_region
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California

## What brand had more sales?

Yes, there are only two of them.

In [ ]:
# note: just started this at 11:35
# df.groupby('brand')['complaint_type'].value_counts().groupby(level=0, group_keys=False).nlargest(3)

## What's the most common sneaker sold?

I'd like you to write a sentence like `____ is the most common sneaker sold, capturing ___ percent of the market.`

## What was the median difference between the sale price and the retail price?

## What were the total sales (in dollars) to South Dakota, New Mexico, and Vermont?

## What were the total sales (in dollars) of shoes sized 5, 6 and 7?

## What sneakers sold, on average, for the highest sale price?

## How many shoes in the dataset were produced by Nike?

A sneaker with either 'Nike' or 'Jordan' in the name is going to be produced by Nike.

## What are the top 3 months for buying shoes? (This is order date, not release date)

People like to buy shoes for Christmas, or with money they received during Christmas.

## What month had the most total money spent on the shoes in this dataset?

Not super-month, but rather instead something like May 2017. And If you get weird decimals like `5,068,067.6894`, don't worry, the data is just a little dirty.