# U.S. Recorded Music Revenues by Format

* **Data:** `Revenue_Chart_Full_Data_data.csv`
* **Description:** Once upon a time cassette tapes were popular. This is their dataset.
* **Source:** https://public.tableau.com/shared/4Z36JM5NN?%3AshowVizHome=no
* **Columns of interest:**
    * `Format` the format of the music - cassette, vinyl, CD, etc.
    * `Year` is the year the data is for
    * `Value (For Charting)` is the revenue (in millions) that format made in that year

The file is tab-separated, not comma-separated, so you'll need to pass in `sep='\t'` when reading it in.

In [8]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
# import requests

/Users/sm/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [11]:
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,}'.format)

In [12]:
df = pd.read_csv("Revenue_Chart_Full_Data_data.csv",
                 sep='\t', 
                 na_values=[0],
                 encoding="latin-1")

In [33]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [36]:
df.format = df.format.str.lower().replace(" ", "_")

In [37]:
df

,year_of_year_date,adjusted_for_inflation_notes,adjusted_for_inflation_title,format,metric,year,value_(for_charting),adjusted_for_inflation_flag,year_date,format_value_#_(billion),format_value_#_(million),total_value_#_(billion),total_value_#_(million),total_value_for_year,value_(actual),year_(copy),revenue
0,2005,NaN,NaN,cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005,"13,100,000.0"
1,2015,NaN,NaN,cd single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015,"1,196,946.61"
2,2015,NaN,NaN,paid subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015,"1,156,708,513.55"
3,2017,NaN,NaN,download single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017,"667,875,936.45"
4,1986,NaN,NaN,vinyl single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986,"228,100,000.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,2010,NaN,NaN,vinyl single,Value,2010,2.3,NaN,2010,NaN,$2.3M,$7.0B,NaN,$7013.8B,2.3,2010,"2,300,000.0"
449,1989,NaN,NaN,lp/ep,Value,1989,220.3,NaN,1989,NaN,$220.3M,$6.6B,NaN,$6580.2B,220.3,1989,"220,300,000.0"
450,1982,NaN,NaN,vinyl single,Value,1982,283.0,NaN,1982,NaN,$283.0M,$3.6B,NaN,$3628.6B,283.0,1982,"283,000,000.0"
451,2016,NaN,NaN,ringtones & ringbacks,Value,2016,56.325299125,NaN,2016,NaN,$56.3M,$7.5B,NaN,$7491.7B,56.325299125,2016,"56,325,299.12"
452,2016,NaN,NaN,vinyl single,Value,2016,4.880679689,NaN,2016,NaN,$4.9M,$7.5B,NaN,$7491.7B,4.880679689,2016,"4,880,679.69"

## Create a numeric column called `revenue` that is the amount of revenue in dollars

In [38]:
df['revenue'] = (df['value_(for_charting)'] * 1000000).round(2)
df.insert(1, "revenue", df['revenue'])
df.revenue = df.revenue.astype(float)

ValueError: cannot insert revenue, already exists

In [39]:
df.head(5)

,year_of_year_date,adjusted_for_inflation_notes,adjusted_for_inflation_title,format,metric,year,value_(for_charting),adjusted_for_inflation_flag,year_date,format_value_#_(billion),format_value_#_(million),total_value_#_(billion),total_value_#_(million),total_value_for_year,value_(actual),year_(copy),revenue
0,2005,NaN,NaN,cassette,Value,2005,13.1,NaN,2005,NaN,$13.1M,$12.3B,NaN,$12289.9B,13.1,2005,"13,100,000.0"
1,2015,NaN,NaN,cd single,Value,2015,1.19694661,NaN,2015,NaN,$1.2M,$6.7B,NaN,$6710.8B,1.19694661,2015,"1,196,946.61"
2,2015,NaN,NaN,paid subscription,Value,2015,"1,156.708513551",NaN,2015,$1.2B,NaN,$6.7B,NaN,$6710.8B,"1,156.708513551",2015,"1,156,708,513.55"
3,2017,NaN,NaN,download single,Value,2017,667.875936447,NaN,2017,NaN,$667.9M,$8.5B,NaN,$8503.2B,667.875936447,2017,"667,875,936.45"
4,1986,NaN,NaN,vinyl single,Value,1986,228.1,NaN,1986,NaN,$228.1M,$4.6B,NaN,$4640.7B,228.1,1986,"228,100,000.0"

## What format has made the most money over the course of this dataset?

In [ ]:
df.sort_values(by='year', ascending=True).head(1)

In [143]:
df.groupby('format').revenue.sum().sort_values(ascending=False).round().head(3)

format
cd         205,567,501,126.0
cassette    48,701,700,000.0
lp/ep       30,017,093,188.0
Name: revenue, dtype: float64

## What percent of total revenue was that one format responsible for?

I want a sentence like, `according to our dataset, compact discs have been responsible for ___% of the music industry's revenue`.

In [134]:
# According to our dataset, compact discs have been responsible for 53.23% of the music industry's revenue.
cd_pct = (df[df.format == 'cd'].revenue.sum()) / (df.revenue.sum())
cd_pct *100

53.23185222919906

In [69]:
# df[df.format == 'cd'].revenue.sum()
# df.revenue.sum()

## What formats were sold over the largest number of years?

For example, vinyl singles were sold for almost fifty years, while downloadable albums have only existed briefly.

In [145]:
df.groupby('format').year.count().sort_values(ascending=False).head(5)

format
lp/ep                     48
vinyl single              48
cd                        38
cassette                  37
music video (physical)    32
Name: year, dtype: int64

In [85]:
# df.groupby('format').year.describe()

In [87]:
# df.groupby('format').year.value_counts()

## What was the total revenue for CDs?

Include both CDs and CD singles.

In [142]:
total_cd2 = ['cd', 'cd single'] 
df[df['format'].isin(total_cd2)].revenue.sum()

207116579173.53

In [138]:
total_cd = df[(df.format == 'cd') | (df.format == 'cd single')]
total_cd.revenue.sum()

207116579173.53

In [97]:
# df[df.format == 'cd'].revenue.sum() + df[df.format == 'cd single'].revenue.sum()

## What format made the most money after 2000?

In [146]:
df[df.year > 2000].groupby('format').revenue.sum().sort_values(ascending=False).head(3)

format
cd                      103,090,501,126.1
paid subscription       27,731,944,903.25
download single     15,493,555,737.710001
Name: revenue, dtype: float64

In [147]:
# post_2000 = df[df.year > 2000]

In [148]:
# post_2000.groupby('format').revenue.sum().sort_values(ascending=False).head(5)

## What three years had the highest total revenue?

Note that this isn't adjusted for inflation, but that's okay for this exercise.

In [149]:
df.groupby('year').revenue.sum().sort_values(ascending=False).head(3)

year
1999   14,584,700,000.0
2000   14,323,700,000.0
2001   13,746,200,000.0
Name: revenue, dtype: float64